@{
    ViewData["Title"] = "News";
}

    <div class="card-columns">
        @foreach (var item in Model)
        {
            <a class="card" asp-controller="Home" asp-action="News" asp-route-source="@item.NewsLink" target="_blank">
                <div class="card-body">
                    <h5 class="card-title">@item.NewsTitle</h5>
                    <p class="card-text">@item.NewsDescription</p>
                    <p class="card-text"><small class="text-muted">@item.NewsAuthor - @item.NewsSource</small></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@item.NewsDate</small>
                </div>
            </a>
        }
    </div>
